@model InventarioApp.Entities.MovInventario

@{
    ViewBag.Title = "Editar Inventario";
}

<div class="container mt-4">
    <h2 class="mb-4">Editar Movimiento de Inventario</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row g-3">
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

            <!-- Campos clave READONLY -->
            <div class="col-md-6">
                @Html.LabelFor(m => m.CodCia, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(m => m.CodCia, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.CodCia, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.CompaniaVenta3, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(m => m.CompaniaVenta3, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.CompaniaVenta3, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.AlmacenVenta, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(m => m.AlmacenVenta, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.AlmacenVenta, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.TipoMovimiento, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(m => m.TipoMovimiento, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.TipoMovimiento, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.TipoDocumento, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(m => m.TipoDocumento, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.TipoDocumento, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.NroDocumento, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(m => m.NroDocumento, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.NroDocumento, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.CodItem2, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(m => m.CodItem2, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.CodItem2, "", new { @class = "text-danger" })
            </div>

            <!-- Campos editables -->
            <div class="col-md-6">
                @Html.LabelFor(m => m.Proveedor, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(m => m.Proveedor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Proveedor, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.AlmacenDestino, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(m => m.AlmacenDestino, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.AlmacenDestino, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.Cantidad, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(m => m.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Cantidad, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.DocRef1, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(m => m.DocRef1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.DocRef1, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.DocRef2, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(m => m.DocRef2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.DocRef2, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.DocRef3, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(m => m.DocRef3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.DocRef3, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.DocRef4, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(m => m.DocRef4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.DocRef4, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.DocRef5, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(m => m.DocRef5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.DocRef5, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.FechaTransaccion, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(m => m.FechaTransaccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.FechaTransaccion, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-secondary ms-2" })
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>